.banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  z-index: 0;
}

.banner-info {
    z-index: 1;
    font-family: 'Ysabeau Infant', sans-serif;


    
}

.banner-img {             /* O truque é inserir a img dentro de um container quadrado, dessa forma podemos moldar a imagem dentro do circulo. */
    width: 200px;         /* tamanho do círculo */
    height: 200px;
    border-radius: 50%;   /* transforma o quadrado em círculo. */
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

.banner-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;    /* faz a imagem preencher o círculo sem distorcer. */
    
}

.banner-img::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 7px; /* espessura da borda */
  border-radius: 50%;
  background: conic-gradient(from 0deg, #369a00, #00ff00 90%, #009c3b );
  -webkit-mask: 
    radial-gradient(farthest-side, transparent calc(100% - 7px), white calc(100% - 7px));
  mask: 
    radial-gradient(farthest-side, transparent calc(100% - 7px), white calc(100% - 7px));
  z-index: 1;
}

.banner-info h1 {
    text-align: center;
    color: #fff;
    text-shadow: 3px 3px #000;
    position: relative;
}

.banner-info h1::after {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    background-image: url(/images/assets/verificado.png);
    background-size: cover;
    top: 20px;
}

.banner-info h1::before {
    content: "";
    position: absolute;
    border-radius: 5px;
    width: 38px;
    height: 4px;
    top: 38px;
    background:linear-gradient(90deg, #ffdf00 0%, #009c3b 100%);
}

.banner-links {
    z-index: 1;
    margin-top: 40px;
    width: 768px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}


.logo-link {
    color: #fff;
    font-family: 'Ysabeau Infant', sans-serif;
    background-color: #0200006e;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    position: relative;
    padding: 8px 0;
}

.logo-link:hover {
    background-color: #fff;
}

.logo-link:hover a {
    color: #000;
}




.logo-link img {
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    position: absolute;
}
.banner-links a {
    color: #fff;
    font-family: 'Ysabeau Infant', sans-serif;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    display: block;
}

.link {  
    margin: 0 auto;
}



