.banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner video {
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  z-index: 0;
}

.banner-info {
    z-index: 1;
    font-family: 'Ysabeau Infant', sans-serif;


    
}

.banner-img {             /* O truque é inserir a img dentro de um container quadrado, dessa forma podemos moldar a imagem dentro do circulo. */
    width: 200px;         /* tamanho do círculo */
    height: 200px;
    border-radius: 50%;   /* transforma o quadrado em círculo. */
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
}

.banner-img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;    /* faz a imagem preencher o círculo sem distorcer. */
    
}

.banner-img::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 8px; /* espessura da borda */
  border-radius: 50%;
  background: conic-gradient(from 0deg, #a4ef01, #00cd66, #00ff00);
  -webkit-mask: 
    radial-gradient(farthest-side, transparent calc(100% - 8px), white calc(100% - 8px));
  mask: 
    radial-gradient(farthest-side, transparent calc(100% - 8px), white calc(100% - 8px));
  z-index: 1;
}

.banner-info h1 {
    text-align: center;
    color: #fff;
    text-shadow: 3px 3px #000;

}

.banner-links {
    z-index: 1;
    margin-top: 40px;
    width: 768px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
}

.logo-link {
    color: #fff;
    font-family: 'Ysabeau Infant', sans-serif;
    background-color: #0200006e;
    border-radius: 15px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    position: relative;
    padding: 8px 0;
}

.logo-link img {
    width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    position: absolute;
}
.banner-links a {
    color: #fff;
    font-family: 'Ysabeau Infant', sans-serif;
    text-align: center;
    text-decoration: none;
}

.link {  
    margin: 0 auto;
}



