.estatisticas {
    width: 100%;
    height: 100vh;
    background-image: url(/images/assets/imagem-de-fundo.jpg);
    background-size: cover;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

